* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
    position: relative; /* Ensure wrapper has a relative positioning context */
}

.gif {
    height: 80%;
    width: 80%;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    color: #e94d58;
    margin: 15px 0;
}

.btn-group {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around; /* Changed to space-around for initial positioning */
    margin-top: 50px;
    position: relative; /* Needed to position buttons absolutely within */
}

button {
    width: 150px;
    height: inherit;
    color: white;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px gray;
    border: 2px solid #e94d58;
    font-size: 1.2em;
    transition: top 0.5s, left 0.5s; /* Smooth transition for moving */
}

.yes-btn {
    background: #e94d58;
}

.no-btn {
    position: absolute; /* Apply absolute positioning only to the No button */
    right: 0; /* Start from the right end within btn-group */
    background: white;
    color: #e94d58;
}
