* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
    text-align: center; /* Center the contents */
}

.gif {
    height: 80%;
    width: 80%;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    color: #e94d58;
    margin: 15px 0;
}

.btn-group {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    position: relative; /* Make sure btn-group has a relative positioning context */
}

button {
    width: 150px;
    height: 50px; /* Set a specific height for buttons */
    color: white;
    font-size: 1.2em;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px gray;
    border: none; /* Remove border or set as needed */
    background: #e94d58; /* Default background for buttons */
    transition: all 0.5s ease; /* Apply transition to all properties */
}

.yes-btn {
    margin-right: 20px; /* Adjust spacing as needed */
}

.no-btn {
    margin-left: 20px; /* Adjust spacing as needed */
    position: relative; /* Ensure the no-btn can move freely */
    background: white;
    color: #e94d58;
}

