* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: pink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.gif {
    max-height: 80%; /* Use max-height and max-width to maintain aspect ratio */
    max-width: 80%;
    height: auto; /* Ensure the gif scales correctly */
    width: auto; /* Ensure the gif scales correctly */
}

h2 {
    text-align: center;
    font-size: 1.5em;
    color: #e94d58;
    margin: 15px 0;
}

.btn-group {
    width: 100%;
    display: flex;
    justify-content: space-around; /* Adjust this to space-around */
    margin-top: 50px;
}

button {
    width: 150px;
    height: 50px;
    color: white;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px gray;
    border: none;
    font-size: 1.2em;
    background: #e94d58;
    /* Ensure buttons are not absolutely positioned by default */
    /* Transition only applies to the "No" button when it moves */
}

button.no-btn {
    color: #e94d58;
    background: white;
    /* position: absolute; is applied dynamically in JavaScript for "No" button */
}
